@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Lato:400,900);

/*@import url(https://fonts.googleapis.com/css?family=Poiret+One);*/

/*@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);*/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: #3d3b3b;
	text-align: left;
	background-size: cover;
	/*font-family: Times New Roman;
	font-style: italic; */
	text-align: left;
}

header {
	background-color: #1e1e1e;
	padding: 15px;
}

nav {
	font-family: 'Lato', cursive;
	text-transform: uppercase;
}


footer {
	font-family: 'Lato', cursive;
	text-transform: uppercase;
}

img {
	width: 100%;
}

section {
	padding: 15px;
}

footer {
	background-color: #1e1e1e;
	padding: 15px;
	position: bottom;
}

ul {
    text-align: left;
    list-style-type: none;
}

/*h1, h2, {
	color: #e6dbdb;
	text-transform: uppercase;
	font-family: 'Abril Fatface', cursive;
} */

h1 {
	/*font-style: normal;*/
	color: #e6dbdb;
	/*font-style: italic;*/
	font-style: bold;
	font-size: 38px;
	font-family: 'Lato', cursive;
	text-transform: uppercase;
}

h2 {
	color: #e6dbdb;
	/*font-style: italic;*/
	font-style: bold;
	font-size: 22px;
	font-family: 'Lato', cursive;
	text-transform: uppercase;
}

li {
	color: #e6dbdb;
	/*text-transform: uppercase;*/
	font-family: 'Lato', sans-serif;
}

p {
	color: #e6dbdb;
	/*text-transform: uppercase;*/
	font-family: 'Lato', sans-serif;
}