* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: #3d3b3b;
	text-align: left;
	background-size: cover;
	font-family: Times New Roman;
	font-style: italic;
	text-align: left;
}

header {
	background-color: #1e1e1e;
	padding: 15px;
}

nav {
}

img {
	width: 100%;
}

section {
	padding: 15px;
}

footer {
	background-color: #1e1e1e;
	padding: 15px;
	position: bottom;
}

ul {
    text-align: left;
    list-style-type: none;
}

h1, p , li {
	color: #e6dbdb;
	text-transform: uppercase;
}

#slogan {
	font-size: 22px;
}

#title {
	font-style: normal;
	font-style: italic;
	font-size: 38px;
}
